astroid==1.6.6
backports.functools-lru-cache==1.6.1
colorama==0.4.3
configparser==4.0.2
enum34==1.1.10
et-xmlfile==1.0.1
futures==3.3.0
isort==4.3.21
jdcal==1.4.1
lazy-object-proxy==0.0.0
mccabe==0.6.1
openpyxl==2.6.4
pylint==1.9.5
singledispatch==3.4.0.3
six==1.15.0
wrapt==1.12.1
wxPython==3.0.2.0
wxPython-common==3.0.2.0
xlwt==1.3.0
